# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor settings
.vscode/
.idea/

# macOS
.DS_Store

# Test / coverage reports
htmlcov/
.tox/
.coverage
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
